extends template/layout
block content
    h1(style="color: red", class="title") #{title}

    - let books = ['Rich dad and pood dad', 'Rework', 'Marketing 5.0']
    ul.list 
        each book in books
            li= book 

    